<div data-sly-use.sun="${'com.aem.geeks.core.models.Sidebar'}">
<p>path : ${sun.path}</p>
<div>
        <img src="${sun.imageRef @ context='uri'}" alt="mobilelogoPath" width="200" height="300"/>
    </div>
<p>image link : <a href ="${sun.link}">mobilelogo</a></p>
<p>switch : ${sun.button ? 'on' : 'off'}</p>
<h5> country:${sun.country} </h5>

<div data-sly-list="${sun.one}">
    name : ${item.name}<br>
    image : ${item.image}<br>
</div>
<div data-sly-list.san="${sun.two}">
    mobileIcon :${san.mobile}<br>
    desktopIcon :${san.desktop}<br>
    <div data-sly-list="${san.three}">
        url : ${item.url}<br>
    </div>
</div>
</div>