coral-multifield.geeks-multifield[aria-invalid=true]{
  border: .15rem solid #e14132
}
.custom-button {
    background-color:white;
    border-color: black;
    color: #3876BF;
    padding: 3px 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 3px ;
    transition-duration: 0.4s;
    cursor: pointer;
    margin: auto;

}

.custom-button h3{
    font-size:15px;
    }
.custom-button:hover {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}
.second-button {
    background-color:#3085C3;
    border-color: black;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 1px ;
    transition-duration: 0.4s;
    cursor: pointer;
    margin: auto;
}
.second-button:hover {
    background-color: #3085C3;
    color: black;
    border: 2px solid #4CAF50;
}
.second-button h3{
    font-size:15px;
    }