<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toll Career Center</title>
    <style>
        .all{
            align-items: center;
            padding-left: 90px;

        }
        /* .site{
            text-align: center;
            word-spacing:normal;
        } */
        .sub{
            width: 300px;
            height: 50px;
           
        }
        .Search{
            justify-content: space-around;
            width: 300px;
            height: 50px;
           
        }
        .last{
            background-color: blue;
            width: 200px;
            height: 50px;
            text-align: center;
            color:white;           

        }
    </style>
</head>

<body class="all">
    <div class="all">
      
        <table>
            <th>
        <div>
        <p><input type="text" name="keyword" placeholder="Search by keyword " class="sub"></p></th>
        <th>
        <p>
        <section>
            <form>
                <select class="Search">
                    <option value="Search by Location">Search by Location</option>
                    <option value="Arizona">Arizona</option>
                    <option value="California">California</option>
                    <option value="Colorado">Colorado</option>
                    <option value="Connecticut">Connecticut</option>
                    <option value="Delaware">Delaware</option>
                    <option value="Georgia">Georgia</option>
                    <option value="Idaho">Idaho</option>
                    <option value="lllinois">lllinois</option>
                    <option value="Maryland">Maryland</option>
                    <option value="Massachusetts">Massachusetts</option>
                    <option value="Michigan">Michigan</option>
                    <option value="Minnesota">Minnesota</option>
                    <option value="Nevada">Nevada</option>
                    <option value="New Jersey">New Jersey</option>
                    <option value="New York">New York</option>
                    <option value="North Carolina">North Carolina</option>
                    <option value="Oregon">Oregon</option>
                    <option value="Pennsylvania">Pennsylvania</option>
                    <option value="South Carolina">South Carolina</option>
                    <option value="Tennessee">Tennessee</option>
                    <option value="Texas">Texas</option>
                    <option value="Utah">Utah</option>
                    <option value="Virginia">Virginia</option>
                    <option value="Washington">Washington</option>
                    <option value="Washington, DC">Washington, DC</option>
                    <!-- Add more options as needed -->
                </select>
            </form>
        </section>
    </p>
</th>
<th>
    <p>
        <section>
            <form>
                <select class="Search">
                    <option value="Search by Division">Search by Division</option>
                    <option value="Accounting & Finance">Accounting  & Finance</option>
                    <option value="Administration">Administration</option>
                    <option value="Apartment Living">Apartment Living</option>
                    <option value="Architecture">Architecture</option>
                    <option value="City Living">City Living</option>
                    <option value="Customer Service">Customer Service</option>
                    <option value="Desian Studio">Desian Studio</option>
                    <option value="Engineering">Engineering</option>
                    <option value="Human Resources">Human Resources</option>
                    <option value="Information Technology">Information Technology</option>
                    <option value="Internships & Co-Ops">Internships & Co-Ops</option>
                    <option value="Land">Land</option>
                    <option value="Landscape">Landscape</option>
                    <option value="Legal">Legal</option>
                    <option value="Manufacturing">Manufacturing</option>
                    <option value="Marketing">Marketing</option>
                    <option value="Mortgage">Mortgage</option>
                    <option value="Operations">Operations</option>
                    <option value="Purchasing">Purchasing</option>
                    <option value="Risk Management">Risk Management</option>
                    <option value="Sales">Sales</option>
                    <option value="Title">Title</option>
                    <option value="Training">Training</option>
                    <!-- Add more options as needed -->
                </select>
            </form>
        </section>
    </p>
</th>
<th>
    <p>
        <button type="submit" name="submit" data-label="Search Jobs" class="last">Search Jobs</button>
    </p>
</th>
    </div>
</table> 
</div>
</body>
</html>
