
<sly data-sly-use.side="com.aem.geeks.core.models.Practice"></sly>
<div>Logo Path :${side.logo}</div>
<div>Logo Mobile Image:${side.mobile}</div>
<div>Logo Link   :  ${side.pic}</div>
<div>Enable Switch:  ${side.king}</div>

<sly data-sly-list.side2=${side.mrs}>
    place:${side2.place}<br>
    nenu:${side2.photo}<br>
</sly>
<sly data-sly-list.lenovo2=${side2.lenovo}>
    desktopicon:${lenovo2.desktopicon}<br>
    number:${lenovo2.number}<br>

<sly data-sly-list.sare=${lenovo2.age}>
    text:${sare.nav}<br></div>




