.htmlTable {
            padding: 20px;
        }

        .container {
            width: 100%;
        }

        .wrapper {
            max-width: 100%;
        }

        .html {
            margin-top: 20px;
        }

        .table {
            margin-bottom: 20px;
            font-weight: bold;
            font-size: 24px;
        }

        .answers-wrapper {
            width: 100%;
        }

        .table-responsive {
            width: 100%;
            overflow-x: auto;
        }

        table {
            width: 100%; /* Ensure table fits within the screen on larger devices */
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            padding: 16px;
            text-align: left;
            font-size: 15px;
            border: 1px solid #e0e0e0;
        }

        th {
            color: #333;
            background: #FFF;
            font-feature-settings: 'clig' off, 'liga' off;
            font-family: "Petco Circular CAP";
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 22px;
            letter-spacing: 0.5px;
        }

        tr:nth-child(even) {
            background: #FFF;
        }

        tr:nth-child(odd) {
            background: #F4F7FF;
        }

        @media (max-width: 768px) {
            .htmlTable {
                padding: 10px;
            }

            .table-responsive {
                overflow-x: auto;
                -webkit-overflow-scrolling: touch; /* For smooth scrolling on mobile */
            }

            table {
                width: 100%; /* Ensure table fits within the screen on mobile */
            }

            th, td {
                font-size: 14px;
                padding: 8px;
            }

            th, td {
                display: block; /* Make cells block elements */
                width: 100%; /* Make cells take full width */
                box-sizing: border-box; /* Ensure padding and border are included in the width */
            }

            tr {
                display: block; /* Make rows block elements */
                margin-bottom: 10px; /* Add space between rows */
            }

            th {
                background: #e0e0e0; /* Distinguish header cells */
            }
        }