<footer>
                    <div class="top">
                        <div class="inner">
                            <div class="left">
                                <a href="/awards" class="topPlaces sprite-fix sc_tracking" data-label="Awards">
                                <img src='https://cdn.tollbrothers.com/publicfiles/tollcareercenter/TopPlacestoWork21.png'></a>
                            </div>
                            <div class="center">
                                <div class="align">
                                    <h3>Corporate Address</h3>
                                    <a class="map" href="https://maps.google.com/maps?q=1140+Virginia+Drive+Fort+Washington%2C+PA+19034">1140 Virginia Drive, <span>Fort Washington, PA 19034</span></a> <span class="bull">•</span> <a class="tel" href="tel:215.938.8000">215.938.8000</a>                                    <nav role="navigation">

	
<li class="site_map"><a href="https://www.tollcareercenter.com/sitemap" class="sc_tracking" data-label="Site Map" data-hover="Site Map">Site Map</a></li>
<li class="legal"><a href="https://www.tollcareercenter.com/legal" class="sc_tracking" data-label="Legal" data-hover="Legal">Legal</a></li>
<li class="privacy"><a href="https://www.tollcareercenter.com/privacy" class="sc_tracking" data-label="Privacy" data-hover="Privacy">Privacy</a></li>
<li class="eho"></li>


	</nav>
                                    <div class="social">
                                          <nav role="navigation">

		<ul>
<li class="facebook"><a href="https://www.facebook.com/TollBrothers" class="sc_tracking" data-label="facebook" data-hover="facebook" target="_blank">facebook</a></li>
<li class="twitter"><a href="https://twitter.com/tollbrothersinc" class="sc_tracking" data-label="twitter" data-hover="twitter" target="_blank">twitter</a></li>
<li class="linkedin"><a href="https://www.linkedin.com/company/toll-brothers" class="sc_tracking" data-label="linkedin" data-hover="linkedin" target="_blank">linkedin</a></li>
<li class="pinterest"><a href="https://www.pinterest.com/tollbrothers/" class="sc_tracking" data-label="pinterest" data-hover="pinterest" target="_blank">pinterest</a></li>
<li class="tolltalks"><a href="https://www.tollbrothers.com/blog/" class="sc_tracking" data-label="tolltalks" data-hover="tolltalks" target="_blank">tolltalks</a></li>
</ul>

	</nav>
                                    </div>
                                </div>
                            </div>
                            <div class="right">
                                <div class="align">
                                    <h3>My Profile</h3>
                                    <nav role="navigation">

		<ul><div class="gowtham">
<li class="log-in"><a href="https://jobs-tollbrothers.icims.com/connect/login" class="sc_tracking" data-label="Log-in" data-hover="Log-in">Log-in</a></li>
<li class="create_a_profile"><a href="https://jobs-tollbrothers.icims.com/connect" class="sc_tracking" data-label="Create a Profile" data-hover="Create a Profile">Create a Profile</a></li>
<li class="job_alerts"><a href="https://jobs-tollbrothers.icims.com/jobs/agents" class="sc_tracking" data-label="Job Alerts" data-hover="Job Alerts">Job Alerts</a></li>
      </div>
</ul>

	</nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <style>.sprite,.eho,footer .top .center .social nav a, footer .bottom .right nav li a:after  {
    display: inline-block;
    background-image: url(/images/sprites.png);
    background-repeat: no-repeat;
}
footer .top  {
    background: #ebebeb;
}

footer .top .inner  {
    padding: 80px 0;
    display: table;
    width: 100%;
    height: calc(100% - 160px) 
}

footer .top .left, footer .top .center, footer .top .right  {
    display: table-cell;
    width: 25%;
    vertical-align: top;
}

footer .top .left  {
    text-align: center;
    vertical-align: middle
}

footer .top .center  {
    width: 50%
}

footer .footerLogo  {
    height: 47px;
    width: 226px;
    background-position: -230px 0;
    margin-right: 30px;
    margin-left:-7px  
}

footer .center  {
    border: 1px solid #dadada;
    border-width: 0 1px;
    text-align: center 
}

footer .center li a  {
    font-size: 14px;
    text-decoration: underline;
    color: #404040
}

footer .center li.privacy:after, footer .center li.eho:after  {
    content: "";
    display: inline;
    padding: 0 1px 0;
}

footer .center h3  {
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
    color: #404040; 
}

footer .center span  {
    text-transform: uppercase;
    font-size: 24px;
    display: inline-block;
    padding-top: 4px
}

footer .center .map span  {
    display: inherit
}

footer .bottom  {
    margin-bottom: 100px
}

footer .bottom .left  {
    display: table-cell;
    float: left;
    vertical-align: top;
}

footer .bottom .left nav a  {
    font-size: 16px;
    text-transform: uppercase;
    color: #000;
    margin-right: 40px  
}

footer .bottom .right  {
    display: table-cell;
    float: right;
    vertical-align: top;
}

footer .top .center .social { margin-top: 40px; }

footer .top .center .social nav li  {
    position: relative;
    display: inline-block;
    height: 22px;
    width: 22px;
    margin: 0 30px 0 0;

}

footer .top .center .social nav a  {
    font-size: 0;
    position: absolute;
    height: 22px;
    width: 22px;
    display: block  
}

footer .top .center .social nav a img  {
    display: none
}

footer .top .center .social nav li.facebook a  {
    background-image: url('https://cdn.tollbrothers.com/publicfiles/tollcareercenter/svgs/facebook.svg');
    background-position: center;
    background-size: contain;
}

footer .top .center .social nav li.twitter a  {
      background-image: url('https://cdn.tollbrothers.com/publicfiles/tollcareercenter/svgs/twitter.svg');
      background-position: center;
      background-size: contain;
}

footer .top .center .social nav li.linkedin a  {
      background-image: url('https://cdn.tollbrothers.com/publicfiles/tollcareercenter/svgs/linkedin.svg');
      background-position: center;
      background-size: contain;
}

footer .top .center .social nav li.pinterest a  {
      background-image: url('https://cdn.tollbrothers.com/publicfiles/tollcareercenter/svgs/Pinterest.svg');
      background-position: center;
      background-size: contain; 
}

footer .top .center .social nav li.tolltalks a  {
      background-image: url('https://cdn.tollbrothers.com/publicfiles/tollcareercenter/svgs/blog.svg');
      background-position: center;
      background-size: contain; 
}

footer .top .center .social nav li a:after  {
    content: "";
    display: block;
    position: absolute;
    height: 28px;
    width: 33px;
    -webkit-transition: -webkit-transform 0.4s, opacity 0.6s;
    -moz-transition: -moz-transform 0.4s, opacity 0.6s;
    transition: transform 0.4s, opacity 0.6s;
    opacity: 0;
    z-index: 2  
}

footer .top .center .social nav li.facebook a:after  {
    background-position: 0 -188px 
}

footer .top .center .social nav li.facebook a:after  {
    width: 25px !important 
}

footer .top .center .social nav li.twitter a:after  {
    background-position: -33px -188px 
}

footer .top .center .social nav li.linkedin a:after  {
    background-position: -80px -188px 
}

footer .top .center .social nav li.pinterest a:after  {
    background-position: -121px -188px 
}

footer .top .center .social nav li.tolltalks a:after  {
    background-position: -164px -189px 
}

footer .top .center .social nav li a:hover:after  {
    opacity: 1  
}

.eho  {
    height: 19px;
    width: 14px;
    background-position: -202px -157px;
    margin-left: 10px 
}

footer .right h3  {
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
    color: #404040;
}

footer .right ul li  {
    display: block;
    padding-bottom: 10px 
}

footer .right ul li a  {
    font-size: 16px;
    text-decoration: underline;
    color: #484747;
    font-weight: 300 
}

footer .align  {
    margin: 0 auto;
    display: inline-block;
    text-align: left
}

footer .top .right  {
    text-align: center
}

footer .topPlaces.sprite-fix  {
    width: 192px;
    height: 99px;

    background-size: cover !important;
    background-position: 0px 0px !important;
    display: inline-block;
}
.sitemap .mainContent {
      margin: 0 0 100px;
}

.sitemap .mainContent ul li a  {
    color: #231f20;
    text-decoration: none
}

.sitemap ul.location  {
    padding: 0 0 0 40px
}
.sitemap ul li.greatbenefitsfortollbrothersemployees,
.sitemap ul li.diversityandinclusion,
.sitemap ul li.workforanaward-winninghomebuilder,
.sitemap ul li.learnwhatitisliketoworkfortollbrothers,
.sitemap ul li.internships {
      display: none;
}
a.map,a.tel  {
    font-size: 14px;
    text-decoration: none;
    color: #424242
}

footer .center a.map span,footer .center .bull  {
    font-size: 14px;
    text-transform: none;
    display: inline 
}
.sitemap h1, .privacy h1, .legal h1, .locations:not(.main-locations-page) h1 {
      position: static;
      color: #000;
     
}
footer .top .center li  {
    position: relative;
    display: inline-block;
    height: 22px;
    width: 60px;
    margin: 0 20px 0 0;
    margin-bottom: 10px;
   white-space: nowrap;

}
footer{
width:1500px;
}



                    </style>
                </footer>
